html, body {
    margin: 0;
    padding: 0
}

body {
    font: 76% arial, sans-serif;
    text-align: center
}

p {
    margin: 0 10px 10px
}

div#header {
    position: relative
}

div#header h1 {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding-left: 10px;
    color: #79B35B
}

#appengine {
    position: absolute;
    right: 0;
    top: 10px
}

div#container {
    text-align: left
}

div#content p {
    line-height: 1.4
}

div#button p {
    margin: 0;
    padding: 5px 10px
}

div#button a {
    display: inline;
    padding: 0;
}

div#container {
    width: 800px;
    margin: 0 auto
}

div#content {
    float: right;
    width: 250px
}

div#navigation {
    float: left;
    width: 550px
}

div#button {
    clear: both;
    width: 100%;
    padding: 5px 10px;
}
div#result {
    clear: both;
    width: 100%;
    background: #EFF5EF;
}
div#events {
    background: #EFEFFF;
}
div#tokens {
    background: #FFEFEF;
}
div#node {
    background: #ffffe0;
}
#quote {
  margin-left: 30px;
}

/* Fonts *******************/

body {
  font: 8pt Tahoma, Sans-Serif;
}

h1 {
  font-size:180%;
  letter-spacing:3px;
}

#quote {
  font-size:110%;
}


