<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Admin Instant YAML{% if counter %} ({{ counter }}){% endif %}</title>
</head>
<body>
<h3>Welcome to InstantYAML!</h3>
<h2><a<a href="/">Home</a></h2>
<table>
	<thead>
		<tr>
			<th>No.</th>
			<th>E-Mail</th>
			<th>Counter</th>
			<th>Last attempt</th>
		</tr>
	</thead>
    <tbody>
	{% for attempt in statistics %}
		<tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ attempt.user }}</td>
                <td>{{ attempt.counter }}</td>
                <td>{{ attempt.date }}</td>
    	</tr>
	{% endfor %}
	<tbody>
</table>
</body>
</html>
